/*styles.css*/

html,
body{
    height: 100%;
}
/*cover*/
#cover{
    background: #222 url('img/stars.jpg') center center no-repeat;
    background-size: cover;
    color:white;
    height:100%;
    text-align: center;
}
img{
    max-width: 100%;
}
.section-content{
    padding: 5rem 0;
}
#about{
  background : url('img/girlincar.jpg') center center no-repeat;
  background-size:cover;
}
.about-text{
  background: rgba(0, 0, 0, 0.8);
  color:white;
  padding:1.875rem;

}
#footer-main{
  background: #222;
  font-size: 0.8rem;
  color:white;
  padding:2.5rem 0;

}
